<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="left"></mat-drawer>
  <mat-drawer-content class="right">
    <div class="text-header">
      <div class="login-header">
        <div class="d-flex">
          <div class="circle-div"><span>S</span></div>
          Express Lands
  
        </div>
        <h3 class="login-account">Login to <br/>your account</h3>
        <p>Welcome back!Please login to your account</p>
        <form>
          <div class="email">
            <input type="text" placeholder="email" id="email-input">

          </div>
          <div class="password">
            <input type="password" placeholder="Enter password" id="pass-input" >

          </div>
          <div class="login-btn">
            <button>LOG IN</button>
          </div>
          <div class="text"><a href="/">Forgot Password</a></div>
          <div>
          </div>
        </form>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>